body{
    background-color: #FAECE1;
    color:#ADA193;
    font-family:Oswald;

}

h1,h2,h3,h4,h5,h6{
    font-family:Bebas Neue;
    font-size:40pt;

}

header{

    text-align: center;
    background-color:#59524C;
    margin: 4px; 

}

#hero{

    background-color: #939EAD ;
    text-align: center;
    padding: 10px; 
    border: 2px solid #59524C;
    color: #59524C; 
    margin: 2px;
    

}

#hero img{

    width: 220px; 
    border-radius: 200px; 
}

#bio{

    background-color:#939EAD ;
    border: 2px solid #59524C;
    color: #59524C; 
    margin: 2px;

    

    text-align: center;

}

#hero img {

    width:200px;
}

#hobbies,#bio, #hero, article,#gallery  {


    background-color:#939EAD ;
    border: 2px solid #59524C;
    color: #59524C; 
    margin: 7.5px; 
    box-shadow: 5px 5px 5px rgba(0.5,0.5,0.5,0.5);

    text-align: center;
    
    border-radius: 2px; 

    


}

 #hobbies:hover, #bio:hover, #hero:hover, article:hover, #gallery:hover {
    box-shadow: 7px 7px 7px rgba(0.5,0.5,0.5,0.5);;
}



#hobbies{

    display: flex; 
    flex-direction: column; 
    align-items: center; 

}

/*#hobbies li{

    width: 50%; 
    margin-left: 45%; 
    margin-right: 45%; 
    text-align: left; 

}*/

/*#gallery{


    padding: 3px; 
    margin: 8px;
    border: 2px solid #59524C; 
    box-shadow: 5px 5px 5px rgba(0.5,0.5,0.5,0.5);

    text-align: center; 
    background-color: #939EAD; 
    color:#59524C; 
    
    


}*/

article{

    text-align: justify; 

    padding: 10%; 

}

article h2{

    text-align:center; 
}

article p::first-letter{

    font-size: 300%;
    border: 1px solid #59524C; 
    padding-left: 0.25ex;
    padding-right: 0.25ex; 
    float: left; 
    margin-right: 0.5ex;
    margin-top: 0.25ex;

    border-radius: 2px;
    box-shadow: 4px 4px 4px #59524C; 
    text-shadow: 1px 1px 1px #59524C;







}

footer{

    text-align: right;
    
}



/*Tablet State*/

@media screen and (min-width: 960px){

    figure{

        display: grid;
        grid-template-columns: 2fr 1fr;
    
    }

    figcaption{

        display:flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        margin-left: 1rem;

    }

}

@media screen and (min-width:100em){

    #gallery{

        display: grid;
        grid-template-columns: 1fr 1fr 1fr; 
        align-items: center; 
      
    }

    hr{

        display: none; 
    }

    #gallery h2{

        grid: 1/-1; 

    }

    figure {

        display: block; 

    }






}