body{
    background-color: #FAECE1;
    color:#ADA193;
    font-family:Oswald;

}

h1,h2,h3,h4,h5,h6{
    font-family:Bebas Neue;
    font-size:40pt;

}

header{

    text-align: center;
    background-color:#59524C;
    margin: 4px; 

}

#hero{

    background-color: #939EAD ;
    text-align: center;
    padding: 10px; 
    border: 2px solid #59524C;
    color: #59524C; 
    margin: 2px;
    

}

#hero img{

    width: 220px; 
    border-radius: 200px; 
}

#bio{

    background-color:#939EAD ;
    border: 2px solid #59524C;
    color: #59524C; 
    margin: 2px;

    

    text-align: center;

}

#hero img {

    width:200px;
}

#hobbies,#bio, #hero, article  {


    background-color:#939EAD ;
    border: 2px solid #59524C;
    color: #59524C; 
    margin: 7px; 
    box-shadow: 5px 5px 5px rgba(0.5,0.5,0.5,0.5);

    text-align: center;
    
    border-radius: 2px; 

    


}

 /** #hobbies:hover, #bio:hover, #hero:hover, article:hover {
    background-color:black;
}
**/ 


#hobbies li{

    width: 50%; 
    margin-left: 45%; 
    margin-right: 45%; 
    text-align: left; 

}

#gallery{


    padding: 3px; 
    margin: 8px;
    border: 2px solid #59524C; 
    box-shadow: 5px 5px 5px rgba(0.5,0.5,0.5,0.5);

    text-align: center; 
    background-color: #939EAD; 
    color:#59524C; 
    
    


}

article{

    text-align: justify; 

    padding: 10%; 

}

article h2{

    text-align:center; 
}

footer{

    text-align: right;
    
}