body{
    background-color: #FAECE1;
    color:#ADA193;
    font-family:Oswald;

}

h1,h2,h3,h4,h5,h6{
    font-family:Bebas Neue;
    font-size:40pt;

}

header{

    text-align: center;

}

#hero{

    background-color: #939EAD ;
    text-align: center;
    padding: 10px; 
    border: 2px solid #59524C;
    color: #59524C; 
    

}

#hero img{

    width: 220px; 
}

#bio{

    background-color:#939EAD ;
    border: 2px solid #59524C;
    color: #59524C; 

    

    text-align: center;

}

#hero img {

    width:200px;
}

footer{

    text-align: right;
    

}